body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
}

li {
  /* margin-left: 400px;
  padding-left: 20px;
  padding-right: 400px; */
  text-align: left;
}

.instructions {
  float: left;
  width: 24.9%;
  border-style: solid;
  border-color: black;
}
