body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
}

#headerImg {
  float: left;
  margin-right: 20px;
  margin-left: 10px;
  border-style: solid;
  border-color: black;
  background-image: url("https://assetstorev1-prd-cdn.unity3d.com/key-image/95ad93c8-bd58-4960-9596-9532aa844d88.jpg");
}

#headerImg img {
  height: 350px;
  width: 350px;
}

.header {
  text-align: left;
}


.lists {
  float: left;
  width: 375px;
  text-align: left;
}

li {
  padding-left: 10px;
}

#about {
  position: absolute;
  top: 500px;
  left: 410px;
  width: 600px;
  border-color: black;
  border-style: solid;
  border-width: 20px;
}
