body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
}

#headerImg {
  float: left;
  margin-right: 20px;
  margin-left: 10px;
  border-style: solid;
  border-color: black;
  background-image: url("https://assetstorev1-prd-cdn.unity3d.com/key-image/95ad93c8-bd58-4960-9596-9532aa844d88.jpg");
}

#headerImg img {
  height: 350px;
  width: 350px;
}

.header {
  text-align: left;
}


.lists {
  float: left;
  width: 375px;
  text-align: left;
}

li {
  padding-left: 10px;
}

#about {
  position: absolute;
  top: 500px;
  left: 410px;
  width: 600px;
  border-color: black;
  border-style: solid;
  border-width: 20px;
}
.dance img{
    height: 100px;
    width: 100px;
}

.left:hover img{
  transform: rotate(30deg);
}

.right:hover img{
  transform: rotate(330deg);
}

.middle:hover img{
  transform: rotate(180deg);
}

#g-1 {
  position: absolute;
  top: 850px;
}

#g-2 {
  position: absolute;
  top: 850px;
  left: 100px;

}

#g-3 {
  position: absolute;
  top: 850px;
  left: 180px;
}

#g-4 {
  position: absolute;
  top: 850px;
  left: 680px;
}

#g-5 {
  position: absolute;
  top: 850px;
  left: 800px;
}

#g-6 {
  position: absolute;
  top: 850px;
  left: 950px;
}

#g-7 {
  position: absolute;
  top: 850px;
  left: 1080px;
}

#g-8 {
  position: absolute;
  top: 850px;
  left: 280px;
}

#g-9 {
  position: absolute;
  top: 1550px;
  left: 80px;
}

#g-10 {
  position: absolute;
  top: 1380px;
  left: 380px;
}


#g-11 {
  position: absolute;
  top: 1380px;
  left: 80px;
}


#g-12 {
  position: absolute;
  top: 1380px;
  left: 680px;
}


#g-13 {
  position: absolute;
  top: 1550px;
  left: 680px;
}

#g-14 {
  position: absolute;
  top: 1550px;
  left: 380px;
}

#g-15 {
  position: absolute;
  top: 1550px;
  left: 980px;
}

#g-16 {
  position: absolute;
  top: 1380px;
  left: 980px;
}

.med img{
  height: 200px;
  width: 200px;
}

button {
  position: absolute;
  top: 820px;
  right: 660px;
  height: 100px;
  width: 200px;
}

hr {
  color: black;
  background-color: black;
  border-color: black;
  border-width: 20px;
  margin-top: 750px;
}

.productiveFunctions {
  font-family: 'Berkshire Swash';
  font-size: 19px;
  float: left;
  width: 30%;
}

.font {
  font-family: 'Berkshire Swash';
  font-size: 40px;
}



#keychain img{
  position: absolute;
  top: 228px;
  left: 240px;
  height: 50px;
  width: 50px;
  transform: rotate(20deg);
}

#shoelace img{
  position: absolute;
  top: 130px;
  left: 200px;
  height: 50px;
  width: 50px;
}
